body {
  color: #333;
  background-color: #eaeaea;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px;
}
h1, h2 {
  font-family: Lora;
}
.section-main {
  display: flex;
  flex-direction: column;
  background-color: #556b2f;
  padding-top: 40px; /* зовнішні межі замінено на внутрішні */
  padding-bottom: 120px;
  justify-content: center;
  align-items: center;
}
.section-main-logo {
  width: 160px;
}
.section-main-title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-family: Lora;
  font-size: 55px;
  font-weight: 700;
}
.section-main-subtitle {
  padding-bottom: 40px;
  color: #fff;
  font-size: 22px;
}
.section-main-button {
  background-color: #8fbc8f;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pionter;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 30px;
}
.second-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.second-section-img {
  width: 500px;
  border: 5px solid #556b2f;
  border-radius: 20px;
}
.second-section-info {
  margin-left: 30px;
  max-width: 600px;
}
.section-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #8fbc8f;
  text-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #556b2f;
  text-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.second-section-text {
  margin: 30px;
  color: #666;
  font-size: 18px;
}
.second-section-name {
  color: #556b2f;
  text-transform: capitalize;
}
.second-section-name2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #8fbc8f;
}
.third-section {
  display: flex;
  flex-direction: column; /* змінено напрям розташування блоків */
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
}
.third-section-books {
  display: flex;
  /* flex-direction: column;  */
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.third-section-book {
  display: flex;
  flex-direction: column; /* змінено напрям розташування блоків */
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}
.book-title {
  display: flex;
  flex-wrap: wrap; /* спробуємо налаштувати перенесення тексту */
  margin-top: 10px;
  margin-bottom: 5px;
  color: #556b2f;
  font-size: 22px;
  font-weight: 700;
}
.book-img {
  height: 200px;
}
.book-author {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #666;
}
.book-price {
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
  color: #8fbc8f;
}
.footer {
  display: flex;
  flex-direction: column; /* змінено напрям розташування блоків */
  justify-content: center;
  align-items: center;
  background-color: #2f4f4f; /* встановлено колір тла */
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-title {
  color: #fff;
}
.footer-text {
  width: 600px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #8fbc8f;
  font-size: 20px;
}
.footer-text-main {
  color: #fff;
}
.footer-form {
  display: flex;
  flex-direction: column; /* змінено напрям розташування блоків */
  justify-content: center;
  align-items: center;
}
.form-title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
}
.form-input {
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background-color: #2f4f4f;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}
.footer-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #8fbc8f;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
